[Unit]
Description=Execute script for daily burndown

[Service]
Type=oneshot
ExecStart=/usr/bin/curl http://localhost:8010/update
User=root
Group=systemd-journal
